.card {
  max-width: 400px;
  min-height: 200px;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  margin-inline: auto;
  margin-block-start: 1rem;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.card-image {
  width: 70px;
  height: 70px;
  border-radius: 1rem;
  margin-block-start: 1rem;
}

.card-image img {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  border-radius: inherit;
  background-color: lightgrey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-containers .add-btn {
  background-color: transparent;
  border: 2px solid black;
  padding: 0.3rem 1rem;
  border-radius: 200px;
  margin-block-start: 2rem;
  transition: 0.3s ease;
}

.btn-containers .add-btn:where(:hover, :focus-visible) {
  cursor: pointer;
  color: white;
  background-color: black;
  transform: translateY(-2px);
}

.change-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-block-start: 2rem;
}

.change-container .inc-btn,
.dec-btn {
  border-radius: 50%;
  padding: 0.2rem;
  transition: 0.3s ease;
}

.change-container button:where(:hover) {
  opacity: 0.8;
  cursor: pointer;
  transform: translateY(-1px);
}
